<div class = "main">
    <div class="bgimg-2">
        <div class="caption">
            <div class="toptrans">
                <div class="content">
                    <div class="name">
                        MentalAlly
                    </div>
                    
                    <div class="tagline">
                        Your Mental Ally!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="color: #777;background-color:#c7d7f0;text-align:center;padding:50px 80px;text-align: justify;">
        <h2 style="text-align:center;font-family: Georgia, 'Times New Roman', Times, serif;">Our Goal</h2>
        <p class="info">Mental health includes our emotional, psychological, and social well-being.It affects how we think, feel, and act.It also helps determine how we handle stress, relate to others, and make healthy choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood. To make the world more aware and safe, mental health and awareness are highly important.
        </p>
    </div>
    <div class="bgimg-1">
        <div class="caption">

        </div>
    
    </div>

</div>